
.menu-item{
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    margin: 10px;
}
.menu-item:hover{
    border-bottom: 3px solid white;
    width: 20px;
    color: #f53f7b;

}