.search-bar-bg{
    background-color: whitesmoke;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}
.search-bar-box{
    border: none;

}
.border-remove{
    border: none;
}
.btn-danger{
    background-color: black;
    padding: 5px;
    width: 100px;
    border-radius: 20px;
    color: white;
}